*{
    box-sizing: border-box;
}

img {
    position: relative;
}

.login-container {
    position: absolute;
    height: 100%;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 5;
    border-radius: 10px;
    /*background-color: rgba(90,98,104, 0.3);*/
}

.login-container md-content {
    border-radius: 10px;
    background-color: rgba(20, 9, 10, 0.3);
    overflow: hidden;
    height: 320px;
}

.login-container md-input-container {
    color: #630311;
    width: 250px;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.3s ease-out;
}

.collapse-header {
    background-color: #af726b;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    border: 0;
    box-sizing: border-box;
    width: 90%;
}
.collapse-header:hover{
    cursor: pointer;
}

.collapse-icon {
    fill: #5c5c5c;
    height: 20px;
    transition: transform 0.3s ease-out;
}
.collapse-icon.collapse-rotate{
    transform: rotate(180deg);
}
.collapse {
    max-height: 100%;
    box-sizing: border-box;
    /*background-color: #efefef;*/
}

.edit-button {
    width: 20px;
    height: 27px;
    fill: #a50316;
    cursor: pointer;
}

.edit-button:hover {
    width: 20px;
    height: 27px;
    fill: #630311;
    cursor: pointer;
}

.detail-header {
    padding-left: 16px;
}

.login-input-container {
    height: 100%;
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    /*background-color: rgba(90,98,104, 0.3);*/
    border-radius: 10px;

    z-index: 5;
}

input {
    color: #a50316;
}

.report-header{
    padding-left: 16px;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-flow: row wrap;
}

.report md-list-item{
    display: flex;
    justify-items: center;
    align-items: center;
}

.list-row{
    display:flex;
    justify-items: center;
    align-items: center;
}

.md-raised {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #895f2d;
}

md-toolbar {
    background-color: #a50316 !important;
}